{%- comment -%}
    Creates a style tag and it restricts an image from growing larger than its max resolution.

    Dependencies:
    - Lazysizes plugin (https://github.com/aFarkas/lazysizes) which enable responsive image with faster load time and better performance.
    - Lazysizes Responsive Images as a Service (https://github.com/aFarkas/lazysizes/tree/gh-pages/plugins/rias) To load the correct image size with our CDN
    - Lazysizes Object Fit (https://github.com/aFarkas/lazysizes/tree/gh-pages/plugins/object-fit) To calculate correct image size for contrained image.

    Accepts:
    placeholder_key: name of fallback svg for missing images (default: 'image')
    fit: object-fit

    crop_aspect_ratio: Aspect ratio used for cropping the image via Shopify image filters. If set,
    image source template will use { height } placeholder and provide a data-aspect-ratio attribute to lazysizes.

    If false, container bottom padding should be set by providing one or more classes, via {{ wrapper_class }}, that are styled correctly for the desired aspect ratio(s). Useful if you would like to style change the aspect ratio with breakpoints. (See helpers.css)

    wrapper_class: classes to be applied to image wrapper

    image_class: classes to be applied to <img>
{%- endcomment -%}

{%- comment -%} Added incremental number to avoid conflict styling code when the same images are using this snippet {%- endcomment -%}
{%- capture responsive_image_counter -%}{%- increment responsive_image_counter -%}{%- endcapture -%}
{%- assign image_aspect_ratio = image.aspect_ratio -%}
{%- assign aspect_ratio = crop_aspect_ratio | default: image_aspect_ratio | default: 1 -%}
{%- capture wrapper_styles -%}
{%- assign aspect_ratio = aspect_ratio | plus: 0 -%}
padding-top: {{ 100 | divided_by: aspect_ratio }}%
{%- endcapture -%}

{%- comment -%} data-aspectratio: aspect ratio of image file {%- endcomment -%}
{%- comment -%} visual aspect ratio shoud be set via image wrapper's padding-bottom {%- endcomment -%}

{%- assign image_class = image_class | append: " w-full h-full absolute inset-0" -%}
<div id="ImageWrapper-{{ image.id }}-{{ responsive_image_counter }}"
  data-image-id="{{ image.id }}"
  class="overflow-hidden relative p-0 {{ wrapper_class }}"
  {{ wrapper_attributes }}>
  <div class="overflow-hidden p-0 w-full" {%- if wrapper_styles != blank -%}style="{{ wrapper_styles }}"{%- endif -%}>
    {%- include 'responsive-img-tag', image_class: image_class, image_attributes: image_attributes -%}
  </div>
</div>

{%- assign crop_aspect_ratio = blank -%}
{%- assign image_class = blank -%}
{%- assign wrapper_class = blank -%}
{%- assign wrapper_attributes = blank -%}
{%- assign image = blank -%}
{%- assign fit = blank -%}
{%- assign aspect_ratio = blank -%}
