<section class="section helper container mx-auto px-4">

  {% if section.settings.title != blank %}
    <h2 class="text-center text-xl">{{ section.settings.title | escape }}</h2>
  {% endif %}

  {%- assign collection = collections[section.settings.collection] -%}

  <div class="grid gap-10 grid-cols-3 {% if collection.products.size > 3 %} grid-rows-2 {% else %} grid-rows-1 {% endif %}">
    {% for product in collection.products limit: 6 %}
      <div>
        <a href="{{ product.url | within: collection }}">

          {% if product.featured_image != blank %}
            {{ product.featured_image.src | img_url: '480x480' | img_tag: product.title }}
          {% else %}
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
          {% endif %}

          <p>{{ product.title }}</p>
        </a>

        <p>
          {% if product.compare_at_price > product.price %}

            {% if product.price_varies %}
              {{ 'products.product.on_sale' | t }}
              {%- assign sale_price = product.price | money -%}
              {{ 'products.product.price.from_price_html' | t: price: sale_price }}
            {% else %}
              {{ 'products.product.on_sale' | t }}
              {{ product.price | money }}
            {% endif %}

          {% else %}

            {% if product.price_varies %}
              {%- assign price = product.price | money -%}
              {{ 'products.product.from_text_html' | t: price: price }}
            {% else %}
              {{ product.price | money }}
            {% endif %}

          {% endif %}
        </p>
      </div>
    {% else %}

      {% for i in (1..6) %}
        <div>
          <a href="#">

            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}

            <p>
              Product Title
            </p>
          </a>

          <p>{{ 1999 | money }}</p>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }

{% endschema %}
