<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="">
  <link rel="canonical" href="{{ canonical_url }}">

  {% capture manifest %}
  {% render 'webmanifest' %}
  {% endcapture %}

  <link rel="manifest" href='data:application/manifest+json,{{ manifest |
  strip_newlines }}' />

  <link rel="mask-icon" href="{{ 'logo.svg' | asset_url }}" color="{{ settings.main_color }}">

  <meta name="msapplication-config" content="{{ 'browserconfig.xml' | asset_url }}">
  <meta name="msapplication-TileColor" content="{{ settings.main_color }}">
  <meta name="msapplication-TileImage" content="{{ settings.logo_png | img_url: '150x150' }}">

  <meta name="theme-color" content="{{ settings.main_color }}">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {% include 'head-seo' %}
  {% include 'head-json-ld' %}
  {% include 'meta-sharing' %}
  <script type="text/javascript">
    document.documentElement.className = document.documentElement.className.replace('no-js', '');
  </script>
  {% include 'style-tags', layout: 'theme' %}

  <script>
    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>

  {{ content_for_header }}
</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">

  <a class="skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {% section 'header' %}

  <main role="main" id="MainContent" class="body-wrapper">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}

  {% include 'script-tags', layout: 'theme' %}
</body>
</html>
